
<div class="row">
  <div class="col s12 m3 xs12 card-panel dark_card">
    <h3 class="card_text"> The Band </h3>
    <h5><a class="card_text" href="/band/eric">Eric</a></h5>
    <h5><a class="card_text" href="/band/joel">Joel</a></h5>
    <h5><a class="card_text" href="/band/keenan">Keenan</a></h5>
    <h5><a class="card_text" href="/band/jared">Jared</a></h5>
    <h5><a class="card_text" href="/band/chris">Chris</a></h5>
  </div>
  <div class="col s12 m9 xs12">
    <img class="heading_image" src="./images/8035crowd.jpg"/>
    <div class="card-panel dark_card">
        <p class="card_text">
          Mighty Shady integrates funk with rock and improvisation with sound songwriting. Their original musical style draws from
          many artists such as the Red Hot Chili Peppers, Umphrey's McGee, Rebelution, and the Allman Brothers.
          Instrumentally the band is focused on strong grooves and textured guitar work, while beautiful vocal
          harmonies and tight, catchy songwriting bring both inspiration and a very good time to each and
          every performance.
        </p>
        <p class="card_text">
          Mighty Shady was formed in Des Moines, IA, in 2012, and performed together until 2015.
          In the span of their short career,
          the band played nearly 300 shows around the Midwest, including 26 music festival performances, and logging
          stage time in 6 states. Notable performances include Summer Camp Music Festival,
          Wakarusa Music Festival, 8035, rockin large venues such as the Val Air Ballroom, and playing alongside
          amazing artists such as Dopapod, Jon Wayne and the Pain, Family Groove Company, and
          Roster McCabe. The band's discography includes a pair of EP's (2012, 2014) and their full-length debut, DoubleThink (2014).
        </p>
    </div>
    <img class="heading_image" src="./images/kcwi.jpg"/>
  </div>
</div> <!-- ends row -->
