<br/>
<div class="row col s12">
  <div class="col m6 s12 xs12">
    <iframe style="border: 0; width: 350px; height: 786px; display: block; margin: 0 auto;" src="https://bandcamp.com/EmbeddedPlayer/album=394883700/size=large/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://mightyshady.bandcamp.com/album/doublethink">DoubleThink by Mighty Shady</a></iframe>
  </div>
  <div class="col m6 s12 xs12">
    <iframe style="border: 0; width: 350px; height: 621px;" src="https://bandcamp.com/EmbeddedPlayer/album=3881109925/size=large/bgcol=333333/linkcol=0f91ff/transparent=true/" seamless><a href="http://mightyshady.bandcamp.com/album/live-on-iprs-studio-one">Live on IPR&#39;s Studio One by Mighty Shady</a></iframe>
  </div>
</div>
