<div class="row">
  <div class="col s12 m3 xs12 card-panel dark_card">
    <h3 class="card_text"> <%= @musician %> </h3>
  </div>
  <div class="col s12 m9 xs12">
    <img class="heading_image" src="./images/8035crowd.jpg"/>
    <div class="card-panel dark_card">
      <a href="/">
        <p class="card_text">
          Family Groove Company integrates the groove sensibility developed by funk/jazz crossover artists like Herbie Hancock and Medeski, Martin, and Wood, with thoughtful, tight songwriting that takes cues from the likes of Steely Dan and the Beatles. The result? An infectious, fresh sound the band calls "groove informed jazz/rock." With a sound defined by rich analog keyboards, tight crunchy guitar, and a pocket-based rhythm section, FGC brings a fresh sound that bends genres and dares the listener not to dance.
        </p>
        <p class="card_text">
          Mighty Shady was formed in Des Moines, IA, in 2012. In the span of their short career,
          the band played nearly 300 shows around the Midwest, peforming at 26 music festival performances

          The band got its start in Los Angeles, where the four members met in music school,
          and then planted its roots in Chicago in late 2002. In the span of their career,
          FGC has played close to 1000 shows from coast to coast, logging stage time in more
          than 350 venues in 34 states. Notable performances include 11 straight years at
          Summer Camp Festival in Illinois, rocking large Chicago stages like the Riviera Theater
          and Vic Theatre, and playing alongside heavyweights like Victor Wooten, moe.,
          Umphrey's McGee, and Lotus. The band's discography includes four full length albums,
          Reachin' (2002), The Charmer (2006), Live in Chicago (2008) and Models and Metrics (2008),
          with a much-anticipated fifth album currently in the works.
        </p>
      </a>
    </div>
    <img class="heading_image" src="./images/kcwi.jpg"/>
  </div>
</div> <!-- ends row -->
