<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<br/>
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab dark_card col m2 s12"><a class="active" href="#twitter">Twitter</a></li>
        <li class="tab dark_card col m2 s12"><a class="" href="#bit">Bandsintown</a></li>
        <li class="tab dark_card col m2 s12"><a href="#fb">Facebook</a></li>

        <li class="tab dark_card col m2 s12"><a href="#instagram">Instagram</a></li>
      </ul>
    </div>

    <div id="twitter" class="col s12 m9 center">
      <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/MightyShady">Tweets by MightyShady</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div id="bit" class="social_tab">
        <iframe src="https://www.bandsintown.com/artist/Mighty%20Shady/track_button?size=large&display_tracker_count=true&text_color=%23FFFFFF&background_color=%2300B4B3&hover_color=%2300908f"
        height="32" width="165" scrolling="no" frameborder="0" style="border:none;
        overflow:hidden;"; allowtransparency="true" ></iframe>

      <!-- <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/Antelope%20Island" class="bit-widget-initializer" data-artist="Antelope Island">Antelope Island Tour Dates</a> -->
    </div>

</div>




<!-- <li>
  <a target="blank" href="http://www.bandsintown.com/track/mightyshady">
    <img class="social_button" src="http://corp.bandsintown.com/assets/media-library/bandsintown-logo-black-w-bounding-box.png"
    alt="Track Mighty Shady on Bandsintown">
  </a>
</li>

<br/>
<li>
  <div class="fb-like social_button button_padding_left" data-href="https://www.facebook.com/mightyshadymusic" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</li>
<br/>

<li class="button_padding_left">
  <a href="https://twitter.com/mightyshady" class="twitter-follow-button"
  data-size="large" data-show-count="false">Follow @mightyshady</a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</li> -->
