<div class="row">
  <div class="col s12 m12 xs12">
    <div class="card-panel">
      <h3> Thanks for reaching out! </h3>
      <h4> We'll be in touch soon </h4>
      <h5> In the meantime, feel free to checkout our<br/>
        <a href="/music">Music</a> <br/>
        <a href="/band"> About Page</a><br/>
        <a href="/media"> Pictures and Videos</a><br/>
        <a href="/tour"> Upcoming Tour Dates</a>
    </div>
  </div>
</div> <!-- ends row -->
