@media only screen and (max-device-width: 800px) {

  .container {
    margin: 0 auto;
  }

  #slide-out {
    max-width: 80%;
  }

  #title_container {
    margin: 75px auto;
    padding: 15px 0px;
  }

  #title {
    font-size: 50px;
  }

}
